<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.micro.order.domain.dao.RegistLogMapper">

	<insert id="insert" keyProperty="id" parameterType="com.xs.micro.order.domain.pojo.model.RegistLog">
		INSERT INTO `regist_log` (`acc_id`, `regist_time`) VALUES (#{acctId}, #{registTime})
	</insert>
</mapper>